.jumbotron {
    heght: 100%;
    width: 100%;
    background-image: url("../img/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#splash {
    padding-top: 10%;
    padding-bottom: 10%;
}